.card {
    border: 2px solid #ccc;
    font-family: sans-serif;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}